    <title>Tech Pills - Community</title>
</head>
<body>
    <main class="blocks">
        <a href="/" class="block tp">
            <div>
                <img class="bounce" src="/img/logo.svg" />
                <h1>Tech Pills</h1>
            </div>
        </a>

        <a href="https://gabmus.org" class="block matrix">
            <div>
                <img src="/img/matrix.svg" />
                <h3>Matrix</h3>
            </div>
        </a>

        <a href="https://gabmus.org" class="block discord">
            <div>
                <img src="/img/discord.svg" />
                <h3>Discord</h3>
            </div>
        </a>
    </main>
