    <title>Tech Pills - Contact</title>
</head>
<body>
    <main class="blocks">
        <a href="/" class="block tp">
            <div>
                <img class="bounce" src="/img/logo.svg" />
                <h1>Tech Pills</h1>
            </div>
        </a>

        <a href="mailto:emaildigabry@gmail.com" class="block email">
            <div>
                <img src="/img/email.svg" />
                <h3>Email</h3>
            </div>
        </a>

        <a href="https://matrix.to/#/@gabmus:matrix.org" class="block matrix">
            <div>
                <img src="/img/matrix.svg" />
                <h3>Matrix<br />@gabmus:matrix.org</h3>
            </div>
        </a>
    </main>
