    <title>Tech Pills</title>
</head>
<body>
    <main class="blocks">
        <div class="block tp">
            <div>
                <img class="bounce" src="/img/logo.svg" />
                <h1>Tech Pills</h1>
            </div>
        </div>

        <a href="https://youtube.com/TechPillsNet" class="block youtube">
            <div>
                <img src="/img/youtube.svg" />
                <h3>YouTube</h3>
            </div>
        </a>

        <a href="/community" class="block community">
            <div>
                <img src="/img/community.svg" />
                <h3>Community</h3>
            </div>
        </a>

        <a href="https://odysee.com/@techpills:9" class="block odysee">
            <div>
                <img src="/img/odysee.svg" />
                <h3>Odysee</h3>
            </div>
        </a>

        <a href="https://linuxrocks.online/@gabmus" class="block mastodon">
            <div>
                <img src="/img/mastodon.svg" />
                <h3>Mastodon</h3>
            </div>
        </a>

        <a href="https://gabmus.org" class="block personal_blog">
            <div>
                <img src="/img/blog.svg" />
                <h3>My blog</h3>
            </div>
        </a>

        <a href="/contact" class="block email">
            <div>
                <img src="/img/email.svg" />
                <h3>Contact</h3>
            </div>
        </a>
    </main>
