<footer>
    <p>
        2021 &copy; Gabriele Musco
    </p>
    <p>
        This webpage is Free Software, available <a href="https://gitlab.com/gabmus/techpills-website/">on GitLab</a> under the terms of the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License v3.0</a>
    </p>
</footer>
</body>
</html>
