body, html {
    margin: 0;
    padding: 0;
    font-family: 'DejaVu Sans', sans-serif;
    background-color: #241f31;
    color: white;
    min-height: 100vh;
}

.blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .block {
        flex-basis: 400px;
        flex-grow: 1;
        display: block;
        text-decoration: none;
        color: white;
        min-height: 400px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            transition: .15s background-color ease-in-out;
        }

        &:hover {
            &::before {
                background-color: rgba(0, 0, 0, .2);
            }
        }

        > div {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            img {
                margin: 20px;
                width: 200px;
                max-width: 100%;
            }
            h3 {
                font-size: 2em;
                margin: 6px;
                text-align: center;
            }
        }

        &.youtube {
            background-image: linear-gradient(#e52d27, #bf171d);
        }
        &.community {
            background-image: linear-gradient(#57e389, #2ec27e);
        }
        &.odysee {
            background-image: linear-gradient(-30deg, #f02469, #fa9825);
        }
        &.mastodon {
            background-image: linear-gradient(#2b90d9, #2e72a3);
        }
        &.personal_blog {
            background-color: #242629;
        }
        &.matrix {
            background-image: linear-gradient(darken(#613583, 15%), #241f31);
        }
        &.telegram {
            background-image: linear-gradient(30deg, #37aee2, #1e96c8);
        }
        &.telegram_channel {
            background-image: linear-gradient(30deg, #37aee2, #1e96c8);
        }
        &.discord {
            background-color: #404eed;
        }
        &.email {
            background-image: linear-gradient(#f6d32d, #e5a50a);
        }

        &.tp {
            background-image: url('/img/cover.svg');
            background-size: cover;
            background-position: center;
            flex-basis: 100%;
            min-height: 550px;
            h1 {
                font-size: 3em;
                font-weight: normal;
                text-shadow: 0 0 5px rgba(0, 0, 0, .7);
                text-align: center;
            }
            &::before, &:hover::before {
                all: unset;
            }
            .bounce {
                @keyframes bounce {
                    0% {
                        transform: translateY(0);
                    }
                    100% {
                        transform: translateY(-10px);
                    }
                }
                animation: bounce 2s infinite ease-in-out alternate both;
            }
        }
    }
}

footer {
    p {
        text-align: center;
        margin: 24px;
        a {
            color: white;
        }
    }
}
